POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/ecommerce
SPRING_DATASOURCE_USERNAME=admin
SPRING_DATASOURCE_PASSWORD=

REDIS_PASSWORD=
REDIS_PORT=6379

DB_HOST=
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=

ADMINER_PORT=8080
API_PORT=8081